{% extends 'base.html.twig' %}

{% block body %}
    <h1>Critic</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ critic.id }}</td>
            </tr>
            <tr>
                <th>Critic</th>
                <td>{{ critic.critic }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('critics_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('critics_edit', { 'id': critic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
